html, body{margin:0; padding:0;}

body{ background-color: #fefefe;  font-family: arial; font-size:13px;}

.container{
	width: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.top-bar {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fff;
    margin:0;
    height: 45px;
    z-index: 10000;
    border-bottom: 1px solid #9ba9b2;
    box-shadow: 0px 0px 5px 3px #768893;
    -webkit-box-shadow: 0px 0px 5px 3px #768893;
    -moz-box-shadow: 0px 0px 5px 3px #768893;
    padding-top:20px;
}

.menu-left{
	width: 300px;
	float:left;
	margin-left: 25px;
}

.menu-right{
	width: 150px;
	float:right;
	margin-right: 	5px;
}

.colonna-sinistra{
	width: 260px;
	float:left;
}

.colonna-destra{
	width: 764px;
	float:left;
}

.alert-error{
	background-color: #d32f2f;
	color:white;
	padding:5px;
	padding-left: 15px;
	border-radius: 5px;
	margin-bottom: 10px;

}

.alert-success{
	background-color: green;
	color:white;
	padding:5px;
	padding-left: 15px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#menu_css_verticale{
/*1. specifichiamo una larghezza fissa per il menu*/
width:250px; 
/*2. rimuoviamo i marcatori della lista*/
list-style:none;
/*3. azzeriamo le margine – richiesto per Internet Explorer*/
margin:0;
/*4. impostiamo un spazio cuscinetto (padding) di 1 px tra i bordi della lista e il suo contenuto*/
padding:1px; 
/*5. aggiungiamo un colore di sfondo al menu*/
background-color:#FFFFFF;
/*6. e un bordo di 1px intorno*/
border:1px solid #437E7E;
}

#menu_css_verticale a{
/*1. convertiamo i link da elementi inline a elemento di blocco, cosi coprono tutta la larghezza disponibile*/
display:block;
/*2. specifichiamo un altezza – richiesto per Internet Explorer 6*/
height:25px;
/*3. aggiungiamo un spazio superiore tra ogni link*/
margin-top:1px;
/*4. e un spazio cuscinetto (padding) a sinistra tra il bordo e il testo dei link*/
padding-left:15px;
/*5. specifichiamo un colore di sfondo per i link*/
background-color:#F0F7F7;
/*6. e un bordo sinistro di 10px*/
border-left:10px solid #C7E2E2;
/*7. speficiamo il tipo di carattere usato*/
font-family:arial;
/*8. e la misura del carattere*/
font-size:10px;
/*9. convertiamo i caratteri da minuscolo a maiuscolo*/
text-transform:uppercase;
/*10. togliamo la sottolineatura dei link aggiunta per default*/
text-decoration:none;
/*11. specifichiamo un colore per i link*/
color:#437E7E;
/*12. allineiamo verticalmente il testo*/
line-height:25px;
}

#menu_css_verticale a:hover{
/*1. cambiamo il colore di sfondo dei link*/
background-color:#E5E5E5;
/*2. il colore del bordo sinistra*/
border-left:10px solid #CCCCCC;
/*e il colore dei link stessi*/
color:#666666;
}

#menu_css_verticale a.primo{
margin-top:0;
}

@media (min-width: 980px) {
body{padding-top:60px;}
}